<h2>Add Category</h2>
<form action="/categories/add" method="POST">
    <div class="form-group">
        <label for="categoryName">Category:</label>
        <input type="text" class="form-control" id="categoryName" name="name" autofocus required>
    </div>
    <hr>
    <div class="text-right">
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>